<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="author" content="{{ site.author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/i/normalize.css">
    <link rel="stylesheet" href="/i/skeleton.css">
    <link rel="stylesheet" href="/i/custom.css">
    <!-- link rel="icon" type="image/png" href="/i/favicon.png" -->
</head>
<body>
{{ content }}
</body>
</html>
